#Intel_logo_png{
width :586px;
height :387px;
display:inline-block;
background-repeat: no-repeat; 
background-position: -986 0px; 
background-image: url('sprite.png');
}
 
#ILTQq_png{
width :400px;
height :479px;
display:inline-block;
background-repeat: no-repeat; 
background-position: -1572 0px; 
background-image: url('sprite.png');
}
 
